.article-body h2 {
 font-size: 1.5em; 
}
.article-body h3 {
 font-size: 1.17em; 
  font-weight: bold;
}
.article-body h4 {
 font-size: 1.12em;
  font-weight: bold;
}
.content {
	margin-top: 0;
}

.video-wrapper {
 margin: 10px 0; 
}

.search-container {
  	min-height: 300px;
	background: no-repeat center url("https://raw.githubusercontent.com/evosus/freshdesk/Phase-1/img/search-image.jpg");
	background-size: cover;
}

.search-box-wrapper {
  padding-top: 125px;
  margin: 0 auto;
 max-width: 600px;   
}

.shadow { box-shadow:0 5px 10px rgba(0,0,0,0.25); }

/* BUTTONS */
/* BEGIN UI-BTN */
.ui-btn {
	height:2.5em;
	margin:0;
	padding:0em 1em;
	border:none;
	cursor:pointer;
	font-weight:700;
	transition:.25s ease-in-out all;
}
/* UI-BTN:HOVER */
.ui-btn:hover { box-shadow:0 5px 10px rgba(0,0,0,0.25); }
/* UI-BTN BODY */
.ui-btn > div { height:2.5em; }
/* UI-BTN ICON */
.ui-btn i { font-size:150%; }
/* UI-BTN TEXT */
.ui-btn > div > span { padding:0em .5em;text-transform:uppercase;letter-spacing:1px; }
/* END UI-BTN */
/* BEGIN UI-BTN-ICON */
.ui-btn-icon {
	width:2.5em;
	height:2.5em;
	border-radius:50%;
	transition:.25s ease-in-out all;
}
/* UI-BTN-ICON:HOVER */
.ui-btn-icon:hover { box-shadow:0 5px 10px rgba(0,0,0,0.25); }
/* UI-BTN-ICON ICON*/
.ui-btn-icon i { font-size:1.5em;line-height:0; }
/* END UI-BTN-ICON */

/* BARS */
/* BEGIN UI-BAR */
.ui-bar { height:3.5em; }
.ui-bar-shadow { position:relative;box-shadow:0px 3px 3px rgba(0,0,0,0.2); }
.ui-bar-left, .ui-bar-right { height:3.5em;padding:0em .25em; }
.ui-bar-middle { height:3.5em; }
.ui-bar-app-name {
	padding:0em .5em;
	height:3.5em;
	font-weight:700;
	font-size:110%;
}
.ui-bar-title {
	padding:0em .5em;
	height:3.5em;
	font-weight:400;
	font-size:110%;
}
.ui-bar-title-stack { padding:0em .5em;height:3.5em; }
.ui-bar-title-stack .ui-title {
	font-weight:400;
	font-size:110%;
	padding-bottom:.1em;
}
.ui-bar-title-stack .ui-subtitle {
	font-size:80%;
	letter-spacing:1px;
	text-transform:uppercase;
	opacity:0.5;
	font-weight:700;
	padding-top:.1em;
}
/* END UI-BAR */
/* BEGIN UI-BAR-CONTROLS */
.ui-bar-controls { height:3.5em;width:100%; }
.ui-bar-controls .ui-bar-control-item { padding:0em .25em; }
.ui-bar-controls .ui-bar-control-item:first-child { padding:0em .25em 0em 0em; }
.ui-bar-controls .ui-bar-control-item:last-child { padding:0em 0em 0em .25em; }
/* END UI-BAR-CONTROLS */
/* BEGIN UI-BAR-TABS */
.ui-bar-tabs { height:3.5em; }
.ui-bar-tab { cursor:pointer;transition:.25s ease-in-out all; }
.ui-bar-tab-top { opacity:0.75;text-transform:capitalize;transition:.25s ease-in-out all; }
.ui-bar-tab-underline { width:100%;height:2px; }
.ui-bar-tab-fill { background:#ffffff;width:0;height:2px;transition:.25s ease-in-out all; }
.ui-bar-tab.active .ui-bar-tab-top { opacity:1.0; }
.ui-bar-tab.active .ui-bar-tab-fill { width:100%; }
/* END UI-BAR-TABS */

/* FLEXBOX */
.f-row {
	display: -webkit-box;
  	display: flex;
  	-webkit-box-orient: horizontal;
  	-webkit-box-direction: normal;
    flex-direction: row;
}

.ai-center {
	-webkit-box-align: center;
	align-items: center;
}
.jc-center {
	-webkit-box-pack: center;
    justify-content: center;
}



/* THEME COLORS */
/* EVOSUS THEME */
.ui-primary,.ui-secondary,.ui-accent,.ui-active,.ui-inactive,.ui-valid,.ui-invalid { color:white; }
.ui-inactive { opacity:0.5; }
.ui-primary { background:#02708C; }
.ui-secondary { background:#007F9C; }
.ui-accent { background:#F09419; }
.ui-active { background:#2196F3; }
.ui-inactive { background:transparent; }
.ui-valid { background:#3F9D2F; }
.ui-invalid { background:#AD423C; }
.ui-background-lt { background:#e7e5e2; }
.ui-background { background:#d7d5d2; }
.fg-primary { color:#6a6b6c; }
.fg-secondary { color:#8a8b8c; }
.fg-accent { color:#F09419; }
.fg-active { color:#2196F3; }
.fg-inactive { color:lightgray; }
.fg-valid { color:#3F9D2F; }
.fg-invalid { color:#AD423C; }
/* ADDITIONAL COLORS */

/* ADDITIONAL COLORS */
.ui-black, .ui-gray, .ui-red, .ui-red-dk, .ui-red-lt,
.ui-orange, .ui-orange-dk, .ui-orange-lt, .ui-gold,
.ui-gold-dk, .ui-gold-lt, .ui-green, .ui-green-dk,
.ui-green-lt, .ui-teal, .ui-teal-dk, .ui-teal-lt,
.ui-blue, .ui-blue-dk, .ui-blue-lt, .ui-purple,
.ui-purple-dk, .ui-purple-lt { color:white; } 
.ui-black { background:black; }
.ui-gray { background:#444444; }
.ui-red { background:firebrick; }
.ui-red-dk { background:darkred; }
.ui-red-lt { background:tomato; }
.ui-orange { background:orange; }
.ui-orange-dk { background:darkorange; }
.ui-orange-lt { background:sandybrown; }
.ui-gold { background:goldenrod; }
.ui-gold-dk { background:darkgoldenrod; }
.ui-gold-lt { background:burlywood; }
.ui-green { background:olivedrab; }
.ui-green-dk { background:darkolivegreen; }
.ui-green-lt { background:darkkhaki; }
.ui-teal { background:lightseagreen; }
.ui-teal-dk { background:darkcyan; }
.ui-teal-lt { background:mediumaquamarine; }
.ui-blue { background:royalblue; }
.ui-blue-dk { background:darkslateblue; }
.ui-blue-lt { background:dodgerblue; }
.ui-purple { background:rebeccapurple; }
.ui-purple-dk { background:indigo; }
.ui-purple-lt { background:mediumpurple; }
.fg-red { color:firebrick; }
.fg-red-dk { color:darkred; }
.fg-red-lt { color:tomato; }
.fg-orange { color:orange; }
.fg-orange-dk { color:darkorange; }
.fg-orange-lt { color:sandybrown; }
.fg-gold { color:goldenrod; }
.fg-gold-dk { color:darkgoldenrod; }
.fg-gold-lt { color:burlywood; }
.fg-green { color:olivedrab; }
.fg-green-dk { color:darkolivegreen; }
.fg-green-lt { color:darkkhaki; }
.fg-teal { color:lightseagreen; }
.fg-teal-dk { color:darkcyan; }
.fg-teal-lt { color:mediumaquamarine; }
.fg-blue { color:royalblue; }
.fg-blue-dk { color:darkslateblue; }
.fg-blue-lt { color:dodgerblue; }
.fg-purple { color:rebeccapurple; }
.fg-purple-dk { color:indigo; }
.fg-purple-lt { color:mediumpurple; }



/* Media Queries */
@media print {

	.video-wrapper {
 		display: none; 
	}
}


/* Menu */
.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
  background-color: #2C3840;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}


.media-object-section {
	vertical-align: middle;
}

.media-object-section > img {
	max-height: 200px;
}



