h1 {
	font-size: 2em;
	color: #aaaaaa;
	margin-bottom: .75em;
}
h2,
.article-body h2 {
	font-size: 1.5em; 
}
h3,
.article-body h3 {
	font-size: 1.17em; 
	font-weight: bold;
}
h4,
.article-body h4 {
	font-size: 1.12em;
	font-weight: bold;
}

.content {
	margin-top: 0!important;
}

.container-footer {
  margin: 0 15px;
}

/* VIDEO WRAPPER */
.video-wrapper {
	margin: 10px 0; 
}

@media print {
  .video-wrapper {
    display: none; 
  }
}

/* Pagination fix - css so ugly it hurts*/
.pagination li a {
  line-height: 41.75px;
}
.pagination li {
  height: 43px;
  display: inline-block!important;
  background-color: transparent!important;
}
.pagination li.active {
  background-color: #02708C!important;
  color: #fff;
}

/* SEARCH CONTAINER */
.search-container {
  	min-height: 300px;
	background: no-repeat center url("https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/search-image.jpg");
	background-size: cover;
}

.search-box-wrapper {
	padding-top: 125px;
	margin: 0 auto;
	max-width: 600px;   
}

@media only screen and (max-width: 600px) {
  .hc-search-form {
    margin: 0 15px;
    min-width: 400px;
  }
  .search-container input[type=text]:not(.browser-default) {
    font-size: 1.3em;
  }
}

/* OVERRIDE FRESHDESK STYLES */
.banner {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.breadcrumb-article {
    margin: 0 0 20px -20px;
    font-size: 16px;
    color: rgba(51,51,51,0.8);
}
.breadcrumb-article a{
    color: rgba(51,51,51,0.5);
    transition: color 0.5s;
    transition-timing-function: ease-in;
}
.breadcrumb-article a:hover {
    color: rgba(51,51,51,0.9);
    text-decoration: none;
}

/* FIX TO THE LOGIN FORM */
.alt-login-button a.btn:hover {
    display: block;
}

/* MENU */
.hover-underline-menu  {
  width: 100%;
  overflow: hidden;
  height: 60px;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
  text-decoration: none;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

/* EVOSUS THEME COLORS */
.ui-primary,.ui-secondary,.ui-accent,.ui-active,.ui-inactive,.ui-valid,.ui-invalid { color:white; }
.ui-inactive { opacity:0.5; }
.ui-primary { background:#02708C; }
.ui-secondary { background:#007F9C; }
.ui-accent { background:#F09419; }
.ui-active { background:#2196F3; }
.ui-inactive { background:transparent; }
.ui-valid { background:#3F9D2F; }
.ui-invalid { background:#AD423C; }
.ui-background-lt { background:#e7e5e2; }
.ui-background { background:#d7d5d2; }
.fg-primary { color:#6a6b6c; }
.fg-secondary { color:#8a8b8c; }
.fg-accent { color:#F09419; }
.fg-active { color:#2196F3; }
.fg-inactive { color:lightgray; }
.fg-valid { color:#3F9D2F; }
.fg-invalid { color:#AD423C; }

/* ADDITIONAL COLORS */
.ui-black, .ui-gray, .ui-red, .ui-red-dk, .ui-red-lt,
.ui-orange, .ui-orange-dk, .ui-orange-lt, .ui-gold,
.ui-gold-dk, .ui-gold-lt, .ui-green, .ui-green-dk,
.ui-green-lt, .ui-teal, .ui-teal-dk, .ui-teal-lt,
.ui-blue, .ui-blue-dk, .ui-blue-lt, .ui-purple,
.ui-purple-dk, .ui-purple-lt { color:white; } 
.ui-black { background:black; }
.ui-gray { background:#444444; }
.ui-red { background: #FF6347; }
.ui-red-dk { background: #B22222; }
.ui-red-lt { background:tomato; }
.ui-orange { background:orange; }
.ui-orange-dk { background:darkorange; }
.ui-orange-lt { background:sandybrown; }
.ui-gold { background: #FFA500; }
.ui-gold-dk { background:darkgoldenrod; }
.ui-gold-lt { background:burlywood; }
.ui-green { background: #228B22; }
.ui-green-dk { background: #6D8D24; }
.ui-green-lt { background: #66CDAA; }
.ui-teal { background: #20B2AA; }
.ui-blue { background:#1E90FF; }
.ui-blue-dk { background:#4169E1; }
.ui-purple { background:#9370DB; }
.ui-purple-dk { background:#663399; }


/*Rocketship on mobile portalpage */
#rocketship-stars {
  position: relative;
  min-width: 200px; 
  height: 100%;
  background: radial-gradient(ellipse at bottom, #007F9C 0%, #02708C 100%);
  overflow: hidden;
}
#star1,
#star2,
#star3, 
#star4,
#star5,
#star6,
#star7,
#star8, 
#star9,
#star0 {
  width: 10px;
  position: absolute;
  z-index: 500;
  animation-name: starmove;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes starmove {
  100% {top: 300px;}
}
#star1 {
  top: 0%;
  left: 150px;
  animation-duration: 1.5s;
}

#star2 {
  top: -30%;
  left: 25px;
  animation-duration: 1.75s;
}
#star3 {
  top: -55%;
  left: 115px;
  animation-duration: 1.95s;
}
#star4 {
  top: -125%;
  left: 175px;
  animation-duration: 2.25s;
}
#star5 {
  top: -95%;
  left: 45px;
  animation-duration: 2.5s;
}

#star6 {
  top: -135%;
  left: 75px;
  animation-duration: 2.35s;
}
#star7 {
  top: -175%;
  left: 95px;
  animation-duration: 2.3s;
}
#star8 {
  top: -34%;
  left: 35px;
  animation-duration: 1.8s;
}
#star9 {
  top: -72%;
  left: 145px;
  animation-duration: 1.65s;
}
#star0 {
  top: -126%;
  left: 13px;
  animation-duration: 1.94s;
}
#rocket {
  z-index: 800;
}

/* floating life-preserver mobile portal page */
#life-preserver {
  position: relative;
  min-width: 200px; 
  height: 100%;
  background: radial-gradient(ellipse at bottom, #007F9C 0%, #02708C 100%);
  overflow: hidden;   
}
#life {
  margin-top: 20px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  50% {
    transform:  translateY(10px) rotate(45deg);
  }
}

