h1 {
	font-size: 2em;
	color: #aaaaaa;
	margin-bottom: .75em;
}
h2,
.article-body h2 {
	font-size: 1.5em; 
}
h3,
.article-body h3 {
	font-size: 1.17em; 
	font-weight: bold;
}
h4,
.article-body h4 {
	font-size: 1.12em;
	font-weight: bold;
}

.content {
	margin-top: 0;
}

/* VIDEO WRAPPER */
.video-wrapper {
	margin: 10px 0; 
}

@media print {

  .video-wrapper {
    display: none; 
  }
}

/* SEARCH CONTAINER */
.search-container {
  	min-height: 300px;
	background: no-repeat center url("https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/search-image.jpg");
	background-size: cover;
}

.search-box-wrapper {
	padding-top: 125px;
	margin: 0 auto;
	max-width: 600px;   
}

/* MENU */
.hover-underline-menu  {
  width: 100%;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

/* EVOSUS THEME COLORS */
.ui-primary,.ui-secondary,.ui-accent,.ui-active,.ui-inactive,.ui-valid,.ui-invalid { color:white; }
.ui-inactive { opacity:0.5; }
.ui-primary { background:#02708C; }
.ui-secondary { background:#007F9C; }
.ui-accent { background:#F09419; }
.ui-active { background:#2196F3; }
.ui-inactive { background:transparent; }
.ui-valid { background:#3F9D2F; }
.ui-invalid { background:#AD423C; }
.ui-background-lt { background:#e7e5e2; }
.ui-background { background:#d7d5d2; }
.fg-primary { color:#6a6b6c; }
.fg-secondary { color:#8a8b8c; }
.fg-accent { color:#F09419; }
.fg-active { color:#2196F3; }
.fg-inactive { color:lightgray; }
.fg-valid { color:#3F9D2F; }
.fg-invalid { color:#AD423C; }

/* ADDITIONAL COLORS */
.ui-black, .ui-gray, .ui-red, .ui-red-dk, .ui-red-lt,
.ui-orange, .ui-orange-dk, .ui-orange-lt, .ui-gold,
.ui-gold-dk, .ui-gold-lt, .ui-green, .ui-green-dk,
.ui-green-lt, .ui-teal, .ui-teal-dk, .ui-teal-lt,
.ui-blue, .ui-blue-dk, .ui-blue-lt, .ui-purple,
.ui-purple-dk, .ui-purple-lt { color:white; } 
.ui-black { background:black; }
.ui-gray { background:#444444; }
.ui-red { background:firebrick; }
.ui-red-dk { background:darkred; }
.ui-red-lt { background:tomato; }
.ui-orange { background:orange; }
.ui-orange-dk { background:darkorange; }
.ui-orange-lt { background:sandybrown; }
.ui-gold { background:goldenrod; }
.ui-gold-dk { background:darkgoldenrod; }
.ui-gold-lt { background:burlywood; }
.ui-green { background:olivedrab; }
.ui-green-dk { background:darkolivegreen; }
.ui-green-lt { background:darkkhaki; }
.ui-teal { background:lightseagreen; }
.ui-teal-dk { background:darkcyan; }
.ui-teal-lt { background:mediumaquamarine; }
.ui-blue { background:royalblue; }
.ui-blue-dk { background:darkslateblue; }
.ui-blue-lt { background:dodgerblue; }
.ui-purple { background:rebeccapurple; }
.ui-purple-dk { background:indigo; }
.ui-purple-lt { background:mediumpurple; }
.fg-red { color:firebrick; }
.fg-red-dk { color:darkred; }
.fg-red-lt { color:tomato; }
.fg-orange { color:orange; }
.fg-orange-dk { color:darkorange; }
.fg-orange-lt { color:sandybrown; }
.fg-gold { color:goldenrod; }
.fg-gold-dk { color:darkgoldenrod; }
.fg-gold-lt { color:burlywood; }
.fg-green { color:olivedrab; }
.fg-green-dk { color:darkolivegreen; }
.fg-green-lt { color:darkkhaki; }
.fg-teal { color:lightseagreen; }
.fg-teal-dk { color:darkcyan; }
.fg-teal-lt { color:mediumaquamarine; }
.fg-blue { color:royalblue; }
.fg-blue-dk { color:darkslateblue; }
.fg-blue-lt { color:dodgerblue; }
.fg-purple { color:rebeccapurple; }
.fg-purple-dk { color:indigo; }
.fg-purple-lt { color:mediumpurple; }