.shadow { box-shadow:0 5px 10px rgba(0,0,0,0.25); }

/* override background of nav */
nav.banner-nav {
	background-color: transparent;
	color: #333;
	box-shadow: none;
}

nav {
	background-color: #02708C;
}

.hover-underline-menu .menu li .active{
  background-color: #015369;
}

.page-footer {
	background-color: #02708C;
}

.card-content a {
	color: #fff;
}
/* fixes to dropdown menu on mobile */
@media (max-width: 45em) {
	li {
    	line-height: 55px;
	}
}

.dropdown-button:hover {
	color: #ffffff;
	text-decoration: none;
}

.dropdown-content li>a, 
.dropdown-content li>span {
	color: #333333; 	
}

/* CARD ACTION COLOR FIX */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: #fff;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
	color: #fff;
}
/* ROCKETSHIP CUSTOM */
#rocketship-stars {
    background: radial-gradient(ellipse at bottom, #9370DB 0%, #663399 100%);
}
/* PROBLEMS CUSTOM */
#life-preserver {
    background: radial-gradient(ellipse at bottom, #1E90FF 0%, #4169E1 100%);
}