/* NAV */
nav,
.page-footer {
	background-color: #02708C;
}

nav.sub-nav {
    height: 2.5em;
    line-height: 2.5em;
    font-size: 1.4em;
    padding-left: 10px;
    background-color: rgb(2,138,168);
}

#logo-header {
	height: 100%;
	margin-left: 75px;
}

@media only screen and (min-width: 993px) {
	nav a.button-collapse {
		display: block!important;
	}
}
nav a.button-collapse:hover {
	text-decoration: none!important;
}

/* button */
.btn, 
.btn:hover,
.btn:active {
	background-color: #02708C;
	background-image: none;
	text-shadow: none;
	color: #ffffff;
	border-radius: 2px;
	border: none;
	font-size: 1rem;
	display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

/* FIX TO THE LOGIN FORM */
.alt-login-button a.btn:hover {
    display: block;
}
/* Fix to submit button on survey form */
input#survey_handle_submit:hover {
    display: inherit;
}
/* BREADCRUMB FIX */
.breadcrumb-menu {
	color: #666666;
	margin: 10px 0 10px -5%;
}

/* PARALLAX SCROLLER */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}
.parallax-text {
	margin: 10px 0;
	line-height: 1em;
	font-weight: 400;
}

.container-content {
	padding: 75px 0 50px;
}

.header {
	margin: 25px 0;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.img-block {
  padding: 25px 15px;
}
.img-block img {
	height: 150px;
}

footer.page-footer {
  margin: 0;
}

/* Article-Links color fix*/
.article-links a:hover {
  color: #444!important;
}

/* collapse-body fix*/
.collapsible-body {
  background-color: #ffffff;
}

/* section backgrounds */
.tech-bg {
  background-image: url(https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/mobile-tech.jpg); 
  background-repeat: no-repeat;  
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.mobile-bg {
  background-image: url(https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/mobile-bg.jpg); 
  background-repeat: no-repeat;  
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 75px;
}