

<div class="section tech-bg">
	<div class="container">
	<h1 class="header white-text center-align">What is the basic process?</h1>
	  <ul class="collapsible popout" data-collapsible="accordion">
	  	<!-- begin step #1 -->
	    <li>
	      <div class="collapsible-header"><i class="material-icons">schedule</i>Step 1: (Beginning of the day)Clock In</div>
	      <div class="collapsible-body">
	      	<p>If your company uses the time tracking feature, press the <strong>Clock In</strong> button to clock in. If you forget, follow your company’s plan for noting time variations.</p>

			<h3>Setup</h3>

			<p>To use the Clock In/Clock Out feature, your employee record must be set up as a timekeeper (Administration &gt; System &gt; Timecards &gt; General Setup &gt; Timekeeper Setup &gt; Select the employee &gt; Is Timekeeper box checked).</p>
	      </div>
	    </li>
	    <!-- end step #1 -->
	    <!-- begin step #2 -->
	    <li>
	      <div class="collapsible-header"><i class="material-icons">loop</i>Step 2: (Beginning of the day) Sync</div>
	      <div class="collapsible-body">
	      	<p>After pressing the <strong>Sync</strong> button, your phone will receive updates, including tasks for the day.&nbsp;</p>

			<h3>What if your phone does not sync?</h3>

			<p>If the phone does not sync, first look for cell coverage gaps, then check your credentials, which should be the same as your Evosus credentials.</p>

			<h3>What if you have to call a customer?</h3>

			<p>Once you sync your device, the list of tasks for the day will include the customer's contact information. Just click on a phone number to call a customer.</p>
	      </div>
	    </li>
	    <!-- end step #2 -->
	    <!-- begin step #3 -->
	    <li>
	      <div class="collapsible-header"><i class="material-icons">location_on</i>Step 3: Arrive at a job</div>
	      <div class="collapsible-body">
	      	<p>Before arrival the map and job location buttons can provide assistance to get to the job or contact the customer.</p>

			<p>There are two options to arrive at a job:</p>

			<ul>
				<li>Press the <strong>Arrive</strong> button to remain on the home screen</li>
				<li>Swipe left on the individual task on the Schedule Tasks screen to open up a shortcut menu – shown to the left, on the right phone image.</li>
			</ul>
			<div style="text-align: center;">
			<img class="responsive-img" style="max-width:50%;" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/14015523285/original/OV9j1goHyKHUX7JonC-ajxAP73Bhc2q2SQ.png?1494523390" data-filelink="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/14015523285/original/OV9j1goHyKHUX7JonC-ajxAP73Bhc2q2SQ.png?1494523390" data-fileid="14015523285" data-uniquekey="1494523263608">
			</div>
			<h3>Map</h3>

			<p>Opens your choice of GPS software with the site address prepopulated. Your location phone setting needs to be on to enable his functionality.</p>

			<h3>Job Location</h3>

			<p>Displays the contact information for the customer and preloads phone and email, so you can contact the customer with the press of a button from inside the app.</p>
	      </div>
	    </li>
	    <!-- end step #3 -->
	      <!-- begin step #4 -->
	    <li>
	      <div class="collapsible-header"><i class="material-icons">input</i>Step 4: Enter Prompts</div>
	      <div class="collapsible-body">
	      	<p>Click Edit to enter Maintenance Prompts or Service Repair and Delivery Prompts.</p>

			<h3>Site Profile Maintenance Prompts</h3>

			<p>Press this button to enter values for recurring maintenance items. The ‘Measure’ column indicates the value when you arrived. The ‘Adjust’ column indicates the amount that was adjusted, or the expected final value of the adjustment made.</p>

			<h3>Service Repair Prompts</h3>

			<p>Press this button to enter the values for specific (non-recurring) service needed, generally to fix something that has broken. The ‘Measure’ column indicates the value when you arrived. The ‘Adjust’ column indicates the amount that was adjusted, or the expected final value of the adjustment made.</p>

			<h3>How do you get more information about a job?</h3>

			<ul>
				<li>Task Details: Estimated time on job, priority level, Mobile Notes, such as gate codes, or anything else you;ve entered into the Mobile Notes screen.</li>
				<li>Last 5 Service Calls: Notes, Order Items, and Equipment for the Last 5 visits.</li>
				<li>Equipment: The equipment assigned to this order will show here. This may be duplicated in the Last 5 Service Calls button above if that equipment happened to be serviced in the last 5 calls.</li>
				<li>Interviews: The customer’s answers to your company’s preset interview questions.</li>
				<li>Site Profiles: Basic information about all the features onsite, such as how many gallons are in the pool and what type of fuel goes in the fireplace.</li>
			</ul>
	      </div>
	    </li>
	    <!-- end step #4 -->
	      <!-- begin step #5 -->
	    <li>
	      <div class="collapsible-header"><i class="material-icons">view_list</i>Step 5: (optional)Add Items to the job</div>
	      <div class="collapsible-body">
	      	<h3>Add Item to Order</h3>
			<p>Did you add parts or chemicals from your truck that were not included on the original order? Add additional items to the order via UPC scan or by typing the item code. If you input an item using an incorrect item number, this information will be communicated to the back office for review.</p>
	      </div>
	    </li>
	    <!-- end step #5 -->
	      <!-- begin step #6 -->
	    <li>
	      <div class="collapsible-header"><i class="material-icons">mode_edit</i>Step 6: Notes, Pictures, and Update Status</div>
	      <div class="collapsible-body">
	      		<h3>Enter tech notes and office follow-up notes</h3>

				<p>Select Edit &gt; Notes &amp; Status to enter notes.</p>

				<ul>
					<li><strong>Tech Notes</strong> - The customer invoice in Tech Notes.</li>
					<li><strong>Office Follow-up Notes</strong> - The back office in Office Follow-up Notes.</li>
				</ul>

				<p>If your phone offers voice recognition, you can dictate your notes instead of typing. Also, if quick text is set up (ask your manager) you might be able to enter commonly used phrases into notes with just a few keystrokes.</p>

				<h3>How do you change the status of a job?</h3>

				<p>Select Edit &gt; Notes &amp; Status to update the end status of a job.</p>

				<ul>
					<li><strong>Complete:</strong> No further work is needed. Complete will be auto-marked if you Depart the job without choosing a status.</li>
					<li><strong>Incomplete:</strong> Started the job, but prevented from finishing. This option notifies the Service Manager the job needs to be rescheduled.</li>
					<li><strong>Non-call:</strong> The job could not be started. The job will remain on your schedule until it’s marked Complete in the app or cancelled inside the software.</li>
					<li><strong>Warranty:</strong> The job is Complete and the customer should not be billed for the order or items added to the order.</li>
				</ul>

				<h3>Add pictures to a job</h3>

				<p>To attach pictures to this job in Evosus on the next sync and:</p>

				<ul>
					<li><strong>Keep the photo on your phone:</strong> Use Choose Picture to select a photo to attach from your phone’s gallery.</li>
					<li><strong>Remove the photo from your phone:</strong> Use Take Picture to capture a photo from this screen. Press Delete if you wish to try again for a better photo.</li>
				</ul>

				<p>Photos will always compress in size when sent.</p>

				<p>Photos will upload to Evosus when you depart from the task unless <strong>Transfer pictures over WIFI only</strong> is selected in the app setting and Evosus System Parameters.</p>
	      </div>
	    </li>
	    <!-- end step #6 -->
	     <!-- begin step #7 -->
	    <li>
	      <div class="collapsible-header"><i class="material-icons">done</i>Step 7: Depart</div>
	      <div class="collapsible-body">
	      	
	      	<p>When you’re ready to leave the job site, click <strong>Depart</strong>. You can always re-arrive by pressing <strong>Arrive&nbsp;</strong>if you make a mistake.</p>

			<ul>
				<li><strong>What if you cannot arrive at the new job?&nbsp;</strong>- You cannot arrive at a new job until you have departed from your current job.</li>
			</ul>

			<h3>Pictures are uploaded each time you depart a task</h3>

			<p>Each time you depart a task, the application attempts to upload any pictures that you've taken. If <strong>Transfer pictures over WIFI only</strong> is selected on the app setting and Evosus System Parameters, the application will only upload the pictures if it is connected to WiFi.&nbsp;</p>

			<ul>
				<li><strong>What if it fails to upload some of the images?</strong> - If the application fails to load some of the images, it will try again when you depart from the next task.</li>
			</ul>

			<div style="text-align: center;">
				<img class="fr-dib fr-draggable" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/14015757170/original/VzdwR0eVyCoQD5werF9RnckhljcxMgSkdg.png?1495033964" data-filelink="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/14015757170/original/VzdwR0eVyCoQD5werF9RnckhljcxMgSkdg.png?1495033964" data-fileid="14015757170" data-uniquekey="1495033367935">
			</div>

			<h3>Sync to get any changes to your tasks</h3>

			<p>Once departed, press <strong>Sync</strong>.</p>

			<ul>
				<li><strong>What if you can't sync?</strong> - You can only sync if you have any tasks that are in progress.The job in progress might be for a previous day, or it might be just off the screen. Locate the job in progress, depart from that job, and then you will be able to sync the device.</li>
			</ul>

			<p>If it’s the end of the day, and you use timecards, press Timecard to punch out. If you forget to punch out, follow your company’s plan to note time variations.</p>

	      </div>
	    </li>
	    <!-- end step #7 -->
	  </ul>
	</div>
	<!-- begin links to topics -->

</div><!-- end section -->

 <!--   Training   -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <div class="img-block center">
	        <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket-primary-bg.svg">
            <h3>Getting Started</h3>

            <div class="article-links">
	        	{% for category in portal.solution_categories %}
					{% for folder in category.folders %}
						{% if folder.name == 'Getting Started' %}
								{{ folder | article_list:10 }}
						{% endif %}
					{% endfor %}
				{% endfor %}
            </div>

          </div>
        </div>

        <div class="col s12 m6">
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/life.svg">
            <h3>Problems?</h3>
           	
           	<div class="article-links">
	           	{% for category in portal.solution_categories %}
					{% for folder in category.folders %}
						{% if folder.name == 'Problems?' %}
								{{ folder | article_list:10 }}
						{% endif %}
					{% endfor %}
				{% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="section mobile-bg">
	<div class="container">
    	<h1 class="header white-text center-align">What are the minimum requirements?</h1>
         <table class="bordered striped centered" style="color: #444!important;">
		    <tbody>
		    <tr>
		        <td><img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/apple.png" alt="iOS" /></td>
		        <td><img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/android.png" alt="Android" /></td>
		    </tr>
		    <tr style="background-color: #ffffff;">
			    <td>iOS 8.0 or later</td>
			    <td>Android 5.0 or later</td>
		    </tr>
		    <tr>
		        <td colspan="2">Evosus Business Management Software version 6.4.28 or later</td>
		    </tr>
		    </tbody>
	    </table>
    </div>
</div>

 <!--   Training   -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/webinar-bg.svg" />
            <h3>Live Webinars</h3>

            <p class="light">For active, new, and experienced Evosus clients, learn how to optimize your Evosus setup. Register now for an interactive webinar!</p>
            <a class="waves-effect waves-light btn" href="https://www.evosus.com/webinars">Register Now!</a>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/howtovideos-bg.svg" />
            <h3>How To Videos</h3>

            <p class="light">Pre-recorded screen captures and detailed instructions to answer specific questions. Many of these videos are included in the topics on this site, but they are also packaged as self-paced online training courses.</p>
            <a class="waves-effect waves-light btn" href="https://shopevosus.com/pages/self-paced-video-training">Purchase</a>
            <a class="waves-effect waves-light btn" href="https://evosus.litmos.com/account/login/?">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>