
<button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>




<section class="content">
<h1>Get started using Evosus Mobile!</h1>


<h2>Step 1: (Beginning of the day)Clock In</h2>

<p>If your company uses the time tracking feature, press the <strong>Clock In</strong> button to clock in. If you forget, follow your company’s plan for noting time variations.</p>

<h3>Setup</h3>

<p>To use the Clock In/Clock Out feature, your employee record must be set up as a timekeeper (Administration &gt; System &gt; Timecards &gt; General Setup &gt; Timekeeper Setup &gt; Select the employee &gt; Is Timekeeper box checked).</p>

<h2>Step 2: (Beginning of the day) Sync</h2>

<p>After pressing the <strong>Sync&nbsp;</strong>button, your phone will receive updates, including tasks for the day.&nbsp;</p>

<h3>What if your phone does not sync?</h3>

<p>If the phone does not sync, first look for cell coverage gaps, then check your credentials, which should be the same as your Evosus credentials.</p>

<h3>What if you have to call a customer?</h3>

<p>Once you sync your device, the list of tasks for the day will include the customer's contact information. Just click on a phone number to call a customer.&nbsp;</p>

<h2>Step 3: Arrive at a job</h2>

<p>Before arrival the map and job location buttons can provide assistance to get to the job or contact the customer.</p>

<p>There are two options to arrive at a job:</p>

<ul>
	<li>Press the <strong>Arrive</strong> button to remain on the home screen</li>
	<li>Swipe left on the individual task on the Schedule Tasks screen to open up a shortcut menu – shown to the left, on the right phone image.</li>
</ul>
<div style="text-align: center;">
<img class="fr-dib fr-draggable" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/14015523285/original/OV9j1goHyKHUX7JonC-ajxAP73Bhc2q2SQ.png?1494523390" data-filelink="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/14015523285/original/OV9j1goHyKHUX7JonC-ajxAP73Bhc2q2SQ.png?1494523390" data-fileid="14015523285" data-uniquekey="1494523263608" style="max-width: 50%; max-height: 20%;">
</div>
<h3>Map</h3>

<p>Opens your choice of GPS software with the site address prepopulated. Your location phone setting needs to be on to enable his functionality.</p>

<h3>Job Location</h3>

<p>Displays the contact information for the customer and preloads phone and email, so you can contact the customer with the press of a button from inside the app.</p>

<h2>Step 4: Enter Prompts</h2>

<p>Click Edit to enter Maintenance Prompts or Service Repair and Delivery Prompts.</p>

<h3>Site Profile Maintenance Prompts</h3>

<p>Press this button to enter values for recurring maintenance items. The ‘Measure’ column indicates the value when you arrived. The ‘Adjust’ column indicates the amount that was adjusted, or the expected final value of the adjustment made.</p>

<h3>Service Repair Prompts</h3>

<p>Press this button to enter the values for specific (non-recurring) service needed, generally to fix something that has broken. The ‘Measure’ column indicates the value when you arrived. The ‘Adjust’ column indicates the amount that was adjusted, or the expected final value of the adjustment made.</p>

<h3>How do you get more information about a job?</h3>

<ul>
	<li><span style="font-family: Arial,Helvetica,sans-serif;">Task Details: Estimated time on job, priority level, Mobile Notes, such as gate codes, or anything else you;ve entered into the Mobile Notes screen.</span></li>
	<li><span style="font-family: Arial,Helvetica,sans-serif;">Last 5 Service Calls: Notes, Order Items, and Equipment for the Last 5 visits.</span></li>
	<li><span style="font-family: Arial,Helvetica,sans-serif;">Equipment: The equipment assigned to this order will show here. This may be duplicated in the Last 5 Service Calls button above if that equipment happened to be serviced in the last 5 calls.</span></li>
	<li><span style="font-family: Arial,Helvetica,sans-serif;">Interviews: The customer’s answers to your company’s preset interview questions.</span></li>
	<li><span style="font-family: Arial,Helvetica,sans-serif;">Site Profiles: Basic information about all the features onsite, such as how many gallons are in the pool and what type of fuel goes in the fireplace.</span></li>
</ul>

<h2>Step 5: (optional)Add Items to the job</h2>

<h3>Add Item to Order</h3>

<p>Did you add parts or chemicals from your truck that were not included on the original order? Add additional items to the order via UPC scan or by typing the item code. If you input an item using an incorrect item number, this information will be communicated to the back office for review.</p>

<h2>Step 6: Notes, Pictures, and Update Status</h2>

<h3>Enter tech notes and office follow-up notes</h3>

<p>Select Edit &gt; Notes &amp; Status to enter notes.</p>

<ul>
	<li><strong>Tech Notes</strong> - The customer invoice in Tech Notes.</li>
	<li><strong>Office Follow-up Notes</strong> - The back office in Office Follow-up Notes.</li>
</ul>

<p>If your phone offers voice recognition, you can dictate your notes instead of typing. Also, if quick text is set up (ask your manager) you might be able to enter commonly used phrases into notes with just a few keystrokes.</p>

<h3>How do you change the status of a job?</h3>

<p>Select Edit &gt; Notes &amp; Status to update the end status of a job.</p>

<ul>
	<li><strong>Complete:</strong> No further work is needed. Complete will be auto-marked if you Depart the job without choosing a status.</li>
	<li><strong>Incomplete:</strong> Started the job, but prevented from finishing. This option notifies the Service Manager the job needs to be rescheduled.</li>
	<li><strong>Non-call:</strong> The job could not be started. The job will remain on your schedule until it’s marked Complete in the app or cancelled inside the software.</li>
	<li><strong>Warranty:</strong> The job is Complete and the customer should not be billed for the order or items added to the order.</li>
</ul>

<h3>Add pictures to a job</h3>

<p>To attach pictures to this job in Evosus on the next sync and:</p>

<ul>
	<li><strong>Keep the photo on your phone:</strong> Use Choose Picture to select a photo to attach from your phone’s gallery.</li>
	<li><strong>Remove the photo from your phone:</strong> Use Take Picture to capture a photo from this screen. Press Delete if you wish to try again for a better photo.</li>
</ul>

<p>Photos will always compress in size when sent.</p>

<p>Photos will upload to Evosus when you depart from the task unless <strong>Transfer pictures over WIFI only</strong> is selected in the app setting and Evosus System Parameters.</p>

<h2>Step 7: Depart</h2>

<p>When you’re ready to leave the job site, click <strong>Depart</strong>. You can always re-arrive by pressing <strong>Arrive&nbsp;</strong>if you make a mistake.</p>

<ul>
	<li><strong>What if you cannot arrive at the new job?&nbsp;</strong>- You cannot arrive at a new job until you have departed from your current job.</li>
</ul>

<h3>Pictures are uploaded each time you depart a task</h3>

<p>Each time you depart a task, the application attempts to upload any pictures that you've taken. If <strong>Transfer pictures over WIFI only</strong> is selected on the app setting and Evosus System Parameters, the application will only upload the pictures if it is connected to WiFi.&nbsp;</p>

<ul>
	<li><strong>What if it fails to upload some of the images?</strong> - If the application fails to load some of the images, it will try again when you depart from the next task.</li>
</ul>

<div style="text-align: center;">
	<img class="fr-dib fr-draggable" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/14015757170/original/VzdwR0eVyCoQD5werF9RnckhljcxMgSkdg.png?1495033964" data-filelink="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/14015757170/original/VzdwR0eVyCoQD5werF9RnckhljcxMgSkdg.png?1495033964" data-fileid="14015757170" data-uniquekey="1495033367935">
</div>

<h3>Sync to get any changes to your tasks</h3>

<p>Once departed, press <strong>Sync</strong>.</p>

<ul>
	<li><strong>What if you can't sync?</strong> - You can only sync if you have any tasks that are in progress.The job in progress might be for a previous day, or it might be just off the screen. Locate the job in progress, depart from that job, and then you will be able to sync the device.</li>
</ul>

<p>If it’s the end of the day, and you use timecards, press Timecard to punch out. If you forget to punch out, follow your company’s plan to note time variations.</p>
</section>


{% if portal.has_solutions %}
<section class="main content rounded-6 min-height-on-desktop" id="solutions-index-home">
	<h2 class="heading">{% translate portal.knowledge_base %}</h2>
	{% for category in portal.solution_categories %}
		{% if category.folders_count > 0 %}
		<div class="cs-s">
			<h3 class="heading">{{ category.name | link_to: category.url }}</h3>
			<div class="cs-g-c">
				{% for folder in category.folders %}
					<section class="cs-g article-list">
						<div class="list-lead">
							{{ folder | link_to_folder_with_count }}
						</div>
						{{ folder | article_list:5 }}
					</section>
				{% else %}
					{{ portal | filler_for_solutions }}
				{% endfor %}
			</div>
		</div>	
		{% endif %}
	{% endfor %}
</section>
{% endif %}

{% if portal.has_forums %}
<section class="sidebar content community-sidebar rounded-6 min-height-on-desktop" id="home-community-sidebar">
	<h2 class="heading">{% translate portal.community_forums %}</h2>
	{% if portal.topics_count > 0 %}
		<p class="intro">{% translate portal.showing_recent_updates %}</p>
		<div>{{ portal | link_to_start_topic }}</div>
		{% for category in portal.forum_categories %}
			{% if category.forums_count > 0 %}
				<div class="cs-s">
					<h3 class="heading">{{ category.name | link_to: category.url }}</h3>
					<div class="cs-g-c">
					{% for forum in category.forums %}
						<section class="cs-g topic-list">
							<div class="list-lead badge-{{ forum.type_name }}">
								{{ forum | link_to_forum_with_count }}
							</div>
							{{ forum | topic_list:3 }}
						</section>
					{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% else %}
		{{ portal | filler_for_forums }}
	{% endif %}
</section>
{% endif %}