nav,
.page-footer {
	 background-color: #444;
}
.page-footer {
	background-color: rgba(0,0,0,.65);
}

.footer-copyright {
	background-color: rgb(51, 51, 51)!important;
}

nav.sub-nav {
    height: 2.5em;
    line-height: 2.5em;
    font-size: 1.4em;
    padding-left: 10px;
    background-color: rgba(0,0,0,.65);
}

.nav-wrapper a.dropdown-button{
    line-height: 64px;
}

#logo-header {
	height: 100%;
	margin-left: 75px;
}

@media only screen and (min-width: 993px) {
	nav a.button-collapse {
		display: block!important;
	}
}
nav a.button-collapse:hover {
	text-decoration: none!important;
}

/*CAROUSEL - Product*/
.carousel-product {
    height: 200px!important;
}
.carousel-product-item {
	text-align: center; 
	line-height: 100px;
	height: 100px!important;
}
.carousel-product-item:hover {
	text-decoration: none;
}
.carousel-item-title {
	color: #fff; 
	font-size: 30px;
}

/* CAROUSEL - Header*/
.carousel-header {
	margin-top: 100px;
	margin-bottom: 25px;
}
.carousel-slider p {
	font-size: 1.2em!important;
    margin-bottom: 25px;
}
/* QBO CAROUSEL */
#qbo-videos .carousel-item .card {
	height: 200px;
}

#qbo-videos .carousel-item:hover {
	text-decoration: none!important;
}

/* ARTICLES SECTIOM - homepage*/
.article-links a,
.article-links a:hover,
{
	color: #ffffff;
}

/* ARTICLES */
.article-body h2 {
	margin: 25px 0;
}

/* BUTTON */
.btn, 
.btn:hover,
.btn:active {
	background-color: #3eaba4;
	background-image: none;
	text-shadow: none;
	color: #ffffff;
	border-radius: 2px;
	border: none;
	font-size: 1rem;
	display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.hc-search-button .btn {
	background-color: #3eaba4;
	color: #ffffff;
	border-radius: 2px;
	border: none;
	font-size: 1rem;
	display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    width: initial;
}

/* Fix to submit button on survey form */
input#survey_handle_submit:hover {
    display: inherit;
}


/* fixes to dropdown menu on mobile */
@media (max-width: 45em) {
	li {
    	line-height: 55px;
	}
}

@media (max-width: 45em) {
	li {
    	line-height: inherit;
	}
}

.dropdown-button:hover {
	color: #ffffff;
	text-decoration: none;
}

.dropdown-content li>a, 
.dropdown-content li>span {
	color: #333333; 	
}

/*BREADCRUMBS FIX */
a.breadcrumb-item {
	color: #666666;
	font-size: .9em;
}
a.breadcrumb-item:hover {
	color: #666666;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
}

/* PARALLAX SCROLLER */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

.container-content {
	padding: 75px 0 50px;
}

.header {
	font-size: 3em;
	color: #ffffff;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.img-block {
  padding: 25px 15px;
}
.img-block img {
	height: 150px;
}

footer.page-footer {
  margin: 0;
}