
<!-- POS parallax image -->
<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="container-content">

        <!--
        <h1 class="header center">Get started selling like a PRO!</h1>
        -->


      </div><!-- end container-content -->
    </div><!-- end container -->
  </div><!-- end section -->
  <div class="parallax"><img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-lead.jpg" alt="Image of Evosus Retail Pro being used on a computer"></div>
</div>

<!--   Step 1 -->
<div class="section">
  <div class="container">
    <h2>Step 1: Get your Evosus Retail Pro account</h2>
    <ol type="a">
      <li>Purchase your Evosus Retail Pro license at <a href="http://evosuspro.com" target="_blank">EvosusPro.com</a>.</li>
    </ol>

  </div><!-- end 1 container-->
</div><!-- end 1 section -->


<!--  step 2 -->
<div class="section">
  <div class="container">
  <h2>Step 2: Connect your Quickbooks Online Plus account</h2>

  <p>Connect Evosus Retail Pro to your <a href="http://www.quickbooksoffer.com/?cid=irp-19106" target="_blank">Quickbooks Online Plus account</a>.</p>

  <ul class="collection">
    <li class="collection-item"><strong>Don't have a Quickbooks Online Plus account?</strong> You can <a href="https://quickbooks.intuit.com/signup/core/?bc=USP-TH2&amp;cid=irp-19106" target="_blank">sign up here</a>. You're eligible for a FREE 30 day trial and discounted pricing through our partnership with Intuit.</li>

    <li class="collection-item"><strong>What if you have Quickbooks Desktop?</strong> Intuit has <a href="https://quickbooks.intuit.com/move-from-desktop-to-online/" target="_blank">detailed instructions on how to import your data</a> into QuickBooks Online, but <a href="https://community.intuit.com/articles/1341057-what-s-not-imported-when-you-move-from-desktop-to-quickbooks-online" target="_blank">not all of your data will be imported</a>.</li>
  </ul>

  <p>Check out the <a href="https://quickbooks.intuit.com/faq/" target="_blank">QuickBooks FAQs</a> for answers to more questions.</p>

      <div class="row">

        <div class="col s12 m8">
          <h3>Videos to get you started!</h3>

          <div id="video-carousel" class="carousel carousel-product">
              <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/Md-IIp7M3yM?rel=0" frameborder="0" allowfullscreen></iframe>'>
                <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/item-list.jpg" alt="">
              </a>
              <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/gGSLX4p-7ow?rel=0" frameborder="0" allowfullscreen></iframe>'>
                <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/navigating.jpg" alt="">
              </a>
              <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/G4mGMZJ0Jik?rel=0" frameborder="0" allowfullscreen></iframe>'>
                 <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/tips-tricks.jpg" alt="">
              </a>
              <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/PVN8N8ytsrY?rel=0" frameborder="0" allowfullscreen></iframe>'>
                 <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/memorized-reports.jpg" alt="">
              </a>
              <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/nKPwl-RkGuo?rel=0" frameborder="0" allowfullscreen></iframe>'>
                <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/convert.jpg" alt="">
              </a>
              <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/2c1e78R5PWg?rel=0" frameborder="0" allowfullscreen></iframe>'>
                <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/linking.jpg" alt="">
              </a>
              <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/mMqH0uKJo-Q?rel=0" frameborder="0" allowfullscreen></iframe>'>
                <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/recording-transactions.jpg" alt="">
              </a>
              <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/-M6vaand3U4?rel=0" frameborder="0" allowfullscreen></iframe>'>
                <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/centers-lists.jpg" alt="">
              </a>
              <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/FXqSCu12Fc0?rel=0" frameborder="0" allowfullscreen></iframe>'>
                <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/convert-to-online.jpg" alt="">
              </a>
            </div>
          
        </div>

        <div class="col s12 m4">
          <h3>And even more articles...</h3>
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket-primary-bg.svg" />
            <div class="article-links-dk">
              {% for category in portal.solution_categories %}
                {% for folder in category.folders %}
                  {% if folder.name == 'Quickbooks Online' %}
                      {{ folder | article_list:20 }}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
             
          </div>
        </div>

      </div><!-- end row -->

  </div><!-- end 2 container -->
</div><!-- end 2 section -->



<!-- step 3 -->
<div class="section">
  <div class="container">
  <h2>Step 3: Sign up for a merchant account</h2>

  <p>Sign up for credit card processing through Evosus Payment Processing and select a credit card reader.</p>



  </div><!-- end 3 container -->
</div><!-- end 3 section -->


<!-- step 4 -->
<div class="section">
  <div class="container">
  <h2>Step 4: Buy your bundle</h2>

  <p>We’ve put together some great point of sale bundles to make the hardware choices easy. Use Evosus Retail Pro to purchase your bundle.</p>


  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header ">Bring your own device (BYOD)</div>
      <div class="collapsible-body">
        
        <p>You provide the device. We provide the peripherals.</p>



          <div class="center-align">
            <img class="responsive-img center-align" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-bundles/BOYDBundle.jpg">
          </div>
          <table class="bordered striped" style="max-width: 500px; margin:0 auto;">
            <tbody>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#FF6347;">highlight_off</i></td>
                <td>Computer or tablet with a current browser. Not included in the package.</td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Inateck Bluetooth Scanner</td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Star CD3 1313 Cash Drawer</td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Poynt Smart Terminal (credit card reader and receipt printer)
                  <br>
                </td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>USB Trigger Device - Opens the cash drawer
                  <br>
                </td>
              </tr>
            </tbody>
          </table>

      </div>
    </li>
    <li>
      <div class="collapsible-header">Starter Bundle</div>
      <div class="collapsible-body">
        
        <p>This bundle has everything you need to get started.</p>

  
          <div class="center-align">
            <img class="responsive-img center-align" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-bundles/StarterBundle.jpg">
          </div>
          <table class="bordered striped" style="max-width: 500px; margin:0 auto;">
            <tbody>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Acer Spin 11 Chromebook
                  <br>
                </td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Inateck Bluetooth Scanner
                  <br>
                </td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Star CD3 1313 Cash Drawer
                  <br>
                </td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Poynt Smart Terminal (credit card reader and receipt printer)
                  <br>
                </td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>USB Trigger Device - Opens the cash drawer
                  <br>
                </td>
              </tr>
            </tbody>
          </table>

      </div>
    </li>
    <li>
      <div class="collapsible-header">GO BIG Bundle</div>
      <div class="collapsible-body">
        
        <p>The GO BIG bundle includes a huge 22" touchscreen, and a high-volume receipt printer.</p>

     
          <div class="center-align">
            <img class="responsive-img center-align" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-bundles/GoBigBundle.jpg">
          </div>
          <table class="bordered striped" style="max-width: 500px; margin:0 auto;">
            <tbody>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Elo 22" All in One Touch Screen Computer &amp; Stand
                  <br>
                </td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Inateck Bluetooth Scanner
                  <br>
                </td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Star CD3 1313 Cash Drawer
                  <br>
                </td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Poynt Smart Terminal (credit card reader)
                  <br>
                </td>
              </tr>
              <tr>
                <td class="center-align"><i class="material-icons" style="color:#228B22;">check_circle</i></td>
                <td>Star TSP100 USB
                  <br>
                </td>
              </tr>
            </tbody>
          </table>
     

      </div>
    </li>
  </ul>

  </div><!-- end 4 container -->
</div><!-- end 4 section -->

<!-- step 5 -->
<div class="section">
  <div class="container">
  <h2>Step 5: Set up your hardware</h2>


  <ul class="collapsible popout" data-collapsible="accordion">
     <li>
      <div class="collapsible-header">Acer Chromebook (Starter Bundle Only)</div>
      <div class="collapsible-body">
        
        <ol>
          <li>Start up your Chromebook - Your Chromebook starts up in about 8 seconds. To turn it on, simply open the lid or press the power button.</li>
          <li>Select the Library Wi-Fi network from the network menu and connect to your network.</li>
          <li>Sign in with your Google Account - In the sign-in box, enter your Google Account username and password and click Sign in. If you don’t have a Google Account, click <strong>Create a Google Account</strong> in the sign-in box to set one up, or Sign in and browse as a guest.</li>
          <li>Start browsing - Once you sign in, you’re instantly on the Web and automatically signed in to the Google services you use, with access to your Chrome bookmarks, settings, apps and extensions. To get started using Evosus Retail Pro just type in the web address <a href="http://www.evosuspro.com">www.evosuspro.com</a>.</li>
          <li>Get to know your Chromebook - <a href="https://evosus.freshdesk.com/helpdesk/attachments/14022243434">User Manual</a>.</li>
        </ol>

      </div><!-- end acer chromebook -->
    </li>

    <li>
      <div class="collapsible-header">Elo TouchScreen Computer (GO BIG Bundle Only)</div>
      <div class="collapsible-body">
        <p><a href="https://evosus.freshdesk.com/helpdesk/attachments/14020027014" target="_blank">Elo Quick Install Guide</a></p>
        <p><a href="https://evosus.freshdesk.com/helpdesk/attachments/14020027015" target="_blank">Elo User Manual</a></p>
      </div>
    </li>

    <li>
      <div class="collapsible-header">Bar Code Scanner</div>
      <div class="collapsible-body">
        
        <p>Installing the Inateck scanner is super easy and should work straight out of the box.</p>

        <p>Simply plug in the USB into the computer and the scanner will install automatically.</p>

        <div class="center-align">
          <img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/14021506691/original/mKKXgffyFmbNWnp4fGXbSXfJ233XT93b5w.jpg?1506632545" data-filelink="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/14021506691/original/mKKXgffyFmbNWnp4fGXbSXfJ233XT93b5w.jpg?1506632545" data-fileid="14021506691" data-uniquekey="1506632574988">
        </div>

        <p>To test that it's all ready to go, open up a notepad or word processing application and scan in a barcode. You should see the barcode number appear here. If this hasn't scanned wait a minute and try it again. If it still hasn't scanned after waiting, unplug the scanner and try and plug it in to a different USB port in your computer.</p>

        <p>Scanner might have issues when using blue tooth and on a Chromebook. In bluetooth the scanner changes the alpha characters to both upper and lowercase. the search has been changed to alleviate the issue, but might still happen. If having problems, just plug the scanner into the Chromebook using USB. &nbsp;</p>

      </div><!-- end bar code scanner body -->
    </li>

    <li>
      <div class="collapsible-header">Cash Drawer</div>
      <div class="collapsible-body">
        
        <h4>BYOD Bundle / Starter Bundle</h4>

        <p>The cash drawer connects to your Poynt Terminal through the USB trigger device, and is triggered to open when you finish a cash or check sale and the receipt is printed by the Poynt Terminal.</p>

        <ol>
          <li>Plug the RJ12 connector cable (the one that looks similar to a phone line) from the cash drawer into the USB Trigger device</li>
          <li>Plug the USB cable from the trigger device into a port on the back of the Poynt Terminal</li>
        </ol>

        <h4>Go Big Bundle</h4> 
        <p>The cash drawer connects to your Star printer and is triggered to open when you finish a cash or check sale and the receipt is printed by the printer.</p>

        <ol>
          <li>Plug the RJ12 connector cable (the one that looks similar to a phone line) from the cash drawer into the Star receipt printer</li>
          <li> Next, head to your 'devices and printers' window on your computer.</li>
          <li> Right click on your receipt printer, select printer properties -&gt; device settings.</li>
          <li> Once in here change the Peripheral Unit Type to 'Cash Drawer' and set the Unit 1 and 2 options to 'Document Bottom'.</li>
        </ol>

      </div><!-- end cash drawer body -->
    </li>


    <li>
      <div class="collapsible-header">Poynt Smart Terminal</div>
      <div class="collapsible-body">
        
        <p><strong>Step 1: Placing the Device</strong></p>

        <p>There are two screens - the bigger one should face you and the smaller is directed at customers.</p>

        <p>When connecting a strong, private WiFi connection you have the freedom to place your device wherever you’d like to transact. If connecting with secure ethernet, the device will need to be placed on the docking station within reach of your ethernet cord.</p>


        <p><strong>Step 2: Power On</strong></p>

        <p>To turn on your device, press and hold the power button behind the merchant screen for 3 seconds.</p>

        <p>When placing your terminal on the dock make sure that both Poynt logos are facing you, aligning the terminal with the charging pins. Your device will charge while on the dock. We recommend fully charging the device (approximately one hour) before initial use.</p>


        <p><strong>Step 3: Connect</strong></p>

        <p>Your device will walk you through connecting to the internet via WiFi the first time you turn it on. To connect via Ethernet instead, simply plug your cord into the back of the dock.</p>


        <p>After connecting, it may begin to update its software as required. This can take a few minutes. Allow the device to download, install, and reboot before getting started.</p>


        <p><strong>Step 4: Activate</strong></p>

        <p>Now it’s time to activate your Smart Terminal, which links your device to your bank.</p>

        <blockquote>Note: Activation procedure varies depending on your reseller. You will receive instructions on the best way to activate from your sales representative.</blockquote>


        <p><strong>Step 5: Scan your QR code</strong></p>

        <p>After powering on and connecting to the internet, click the link and following the on-screen instructions for Scanning a QR code from your Welcome Email. Doing this will link your unique Smart Terminal with your Poynt Web Portal account and payment processor information.</p>


        <p><strong>Step 6: Load Paper</strong></p>
        <p>To load a fresh roll of receipt paper into your device, lift the latch on the printer compartment and pull out. This will release the latch. Unwrap the roll of paper, make sure that the paper is taut to the roll and place the roll into the printer compartment. The edge of the paper should be oriented toward the top of the roll to ensure the receipt prints properly.</p>
        <p>You can order paper roll refills from <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords=Poynt+paper+rolls%22" target="_blank">Amazon</a>. Search for Poynt Paper Rolls size 2.25" x 16".</p>

        <div style="margin: 0 auto;"
          <iframe width="640" height="360" src="//www.youtube.com/embed/Wl47LzRCqko?wmode=opaque" frameborder="0" allowfullscreen="" sandbox="allow-scripts allow-forms allow-same-origin allow-presentation"></iframe>
        </div>

      </div><!-- end poynt smart terminal -->
    </li>

    <li>
      <div class="collapsible-header">Star TSP 100 USB Receipt Printer (Go Big Bundle Only)</div>
      <div class="collapsible-body">
      
      <p>For detailed information, check out the <a href="https://evosus.freshdesk.com/helpdesk/attachments/14020019568">Star Printer Install Guide</a>.</p>
      <p>Make sure you've got your receipt rolls for your Star Receipt Printer. They can be reordered on <a href="https://www.amazon.com/Thermal-Micronics-SCP700-TSP100-TSP2000/dp/B06XHZ5J3Z/ref=sr_1_1_sspa?ie=UTF8&amp;qid=1507915973&amp;sr=8-1-spons&amp;keywords=star+tsp100+paper&amp;psc=1">Amazon&nbsp;</a>or through your office supply vendor.</p>
      
      <ol>
        <li>Unpack the printer and connect the USB cable.</li>
        <li>Open the cover by lifting the lever (see printed diagram included in the box).</li>
        <li>Insert paper roll.</li>
        <li>Pull out a small amount of paper and then close the cover.</li>
        <li>Connect the USB cable to the computer.</li>
        <li>Insert the CD-Rom into the computer and then select installation on the screen. Your box should come with a CD-Rom that you can insert into your computer to launch the drivers. If not, you can download from the <a href="http://www.starmicronics.com/support/">Star Website.</a>

          <ul>
            <li><strong>Product Type:</strong> Thermal</li>
            <li><strong>Printer Family:</strong><span>&nbsp;</span>TSP100</li>
            <li><strong>Printer Model:</strong><span>&nbsp;</span>TSP100 ECO</li>
            <li><strong>Interface:</strong><span>&nbsp;</span>USB</li>
            <li><strong>Operating System:</strong><span>&nbsp;</span>Windows</li>
          </ul>
        </li>
        <li>Connect the power cord to the printer and plug the cord into the wall. You are now ready to turn on the power and print!</li>
      </ol>

      </div>
    </li>
  </ul>
  

  </div><!-- end 5 container -->
</div><!-- end 5 section -->


<!-- step 6 -->
<div class="section">
  <div class="container">
  <h2>Step 6: Start selling like a PRO!</h2>

      <div class="row">
        <div class="col s12">
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/webinar-bg.svg" />
            <h3>Live Webinars</h3>
            <p class="light">Register now for an interactive webinar!</p>
            <a class="waves-effect waves-light btn" href="https://www.evosus.com/webinars">Register Now!</a>
          </div>
        </div>


        <!--
        <div class="col s12 m6">
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket-primary-bg.svg" />
            <h3>Getting Started?</h3>

               <div class="article-links-dk">
                {% for category in portal.solution_categories %}
                  {% for folder in category.folders %}
                    {% if folder.name == 'Getting Started' %}
                        {{ folder | article_list:20 }}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
          </div>
        </div>
      --> 

      </div>



    </div>
  </div>


<!-- Account Management parallax image -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="container-content">
          <div class="row center">
            <h1 class="white-text">Didn't find what you're looking for?</h1>
          </div>
          <div class="row center">
            <a href="https://evosus.freshdesk.com/support/tickets/new" id="download-button" class="btn waves-effect waves-light">Create A Ticket</a>
            <a href="https://evosus.freshdesk.com/support/tickets" id="download-button" class="btn waves-effect waves-light">View All Tickets</a>
          </div>
          
        </div><!-- end container-content -->
      </div><!-- end container -->
    </div><!-- end section -->
    <div class="parallax"><img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/am-group.jpg" alt=""></div>
  </div>

   <!-- video modals -->
  <div id="modal1" class="modalMat center-align" style="min-width: 560px;">
    <div class="modalMat-content">
      
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    </div>
  </div>
