<!-- search -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
 
     
    </div>
  </div>
  <div class="parallax"><img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-lead.jpg" alt="Image of Evosus Retail Pro being used on a computer"></div>
</div>


<!--   Getting Started  -->
<div class="container">
 
  <div class="row center">
      <div class="col s12 m6 offset-m6">
         <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket-primary-bg.svg">


            <h3 class="grey-text text-darken-2">Getting Started</h3>
    
           <div class="article-links-dk">
            {% for category in portal.solution_categories %}
              {% for folder in category.folders %}
                {% if folder.name == 'Getting Started' %}
                    {{ folder | article_list:20 }}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>

        </div>
      </div>
  </div>

</div>



<!-- min requirements -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
    
        <h1>New Minimum System Requirements</h1>
        <p class="white-text" style="margin: 25px 0;">We've updated our minimum system requriements.</p>
        <a class="btn waves-effect white grey-text darken-text-2" href="http://ee-support.evosus.com/support/solutions/articles/14000064887-evosus-business-management-software-minimum-software-requirements">Tell me more!</a>

      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/computer-bg.jpg" alt="Image of computer"></div>
</div>


<!--   Quickbooks Online   -->
<div class="container">
 
  <div class="row center">
      <div class="col s12 m6 offset-m6">
         <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket-primary-bg.svg">


            <h3 class="grey-text text-darken-2">QuickBooks Online Integration</h3>
    
           <div class="article-links-dk">
            {% for category in portal.solution_categories %}
              {% for folder in category.folders %}
                {% if folder.name == 'QuickBooks Online Integration' %}
                    {{ folder | article_list:20 }}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>

        </div>
      </div>
  </div>

</div>


<!--   quickbooks online videos   -->  
<div class="section">
  <div class="container">
      <div class="row">
      
        <div class="img-block center">
          <h1 style="margin-bottom: 15px; margin-top: 15px;">Tips/Tricks</h1>
        </div><!-- end img-block -->

        <div id="video-carousel" class="carousel carousel-product">
          <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/Md-IIp7M3yM?rel=0" frameborder="0" allowfullscreen></iframe>'>
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/item-list.jpg" alt="">
          </a>
          <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/gGSLX4p-7ow?rel=0" frameborder="0" allowfullscreen></iframe>'>
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/navigating.jpg" alt="">
          </a>
          <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/G4mGMZJ0Jik?rel=0" frameborder="0" allowfullscreen></iframe>'>
             <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/tips-tricks.jpg" alt="">
          </a>
          <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/PVN8N8ytsrY?rel=0" frameborder="0" allowfullscreen></iframe>'>
             <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/memorized-reports.jpg" alt="">
          </a>
          <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/nKPwl-RkGuo?rel=0" frameborder="0" allowfullscreen></iframe>'>
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/convert.jpg" alt="">
          </a>
          <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/2c1e78R5PWg?rel=0" frameborder="0" allowfullscreen></iframe>'>
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/linking.jpg" alt="">
          </a>
          <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/mMqH0uKJo-Q?rel=0" frameborder="0" allowfullscreen></iframe>'>
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/recording-transactions.jpg" alt="">
          </a>
          <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/-M6vaand3U4?rel=0" frameborder="0" allowfullscreen></iframe>'>
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/centers-lists.jpg" alt="">
          </a>
          <a class="carousel-item carousel-product-item modal-trigger hoverable" href="#modal1" data-frame='<iframe width="560" height="315" src="https://www.youtube.com/embed/FXqSCu12Fc0?rel=0" frameborder="0" allowfullscreen></iframe>'>
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-vid-preview/convert.jpg" alt="">
          </a>
        </div>


      </div>
    </div>
  </div>

 <!-- video modals -->
  <div id="modal1" class="modalMat center-align" style="min-width: 560px;">
    <div class="modalMat-content">
      
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    </div>
  </div>






<!--   Hardware   -->
<div class="container">
 
  <div class="row center">
      <div class="col s12 m6 offset-m6">
         <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket-primary-bg.svg">


            <h3 class="grey-text text-darken-2">Hardware</h3>
    
           <div class="article-links-dk">
            {% for category in portal.solution_categories %}
              {% for folder in category.folders %}
                {% if folder.name == 'Hardware' %}
                    {{ folder | article_list:20 }}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>

        </div>
      </div>
  </div>

</div>


 <!--   Training   -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/webinar-bg.svg" />
            <h3>Live Webinars</h3>

            <p class="light">For active, new, and experienced Evosus clients, learn how to optimize your Evosus setup. Register now for an interactive webinar!</p>
            <a class="waves-effect waves-light btn" href="https://www.evosus.com/webinars">Register Now!</a>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/howtovideos-bg.svg" />
            <h3>How To Videos</h3>

            <p class="light">Pre-recorded screen captures and detailed instructions to answer specific questions. Many of these videos are included in the topics on this site, but they are also packaged as self-paced online training courses.</p>
            <a class="waves-effect waves-light btn" href="https://shopevosus.com/pages/self-paced-video-training">Purchase</a>
            <a class="waves-effect waves-light btn" href="https://evosus.litmos.com/account/login/?">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Account Management parallax image -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="container-content">
          <div class="row center">
            <h1 class="white-text">Didn't find what you're looking for?</h1>
            <h3 class="grey-text text-lighten-2">Contact your Account Manager</h3>
          </div>
          <div class="row center">
            <a href="https://evosus.freshdesk.com/support/tickets/new" id="download-button" class="btn waves-effect waves-light">Create A Ticket</a>
            <a href="https://evosus.freshdesk.com/support/tickets" id="download-button" class="btn waves-effect waves-light">View All Tickets</a>
          </div>
          
        </div><!-- end container-content -->
      </div><!-- end container -->
    </div><!-- end section -->
    <div class="parallax"><img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/am-group.jpg" alt=""></div>
  </div>

