<!-- search -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
 
     
    </div>
  </div>
  <div class="parallax"><img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/evopro-lead.jpg" alt="Image of Evosus Retail Pro being used on a computer"></div>
</div>


<!--   Getting Started  -->
<div class="container">
 
  <div class="row center">
      <div class="col s12 m6 offset-m6">
         <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket-primary-bg.svg">


            <h3 class="grey-text text-darken-2">Getting Started</h3>
    
           <div class="article-links-dk">
            {% for category in portal.solution_categories %}
              {% for folder in category.folders %}
                {% if folder.name == 'Getting Started' %}
                    {{ folder | article_list:20 }}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>

        </div>
      </div>
  </div>

</div>



<!-- search by category -->
<div class="section">
  <h1 class="center" style="margin-top: 25px;">Have a question?</h1> 
  <h2 class="center">Select a product to find a solution.</h2>  
   <div class="container">
   
   <div class="row">
    
    <div class="col s4 offset-s2">
      <a href="http://ee-support.evosus.com/support/home" class="no-style">
      <div class="card-panel ui-gray hoverable center-align">
        <span class="white-text">Enterprise</span>
      </div>
       </a>
    </div>
  

    <div class="col s4">
      <a href="http://ems-support.evosus.com/support/home" class="no-style">
      <div class="card-panel ui-primary hoverable center-align">
        <span class="white-text">Mobile</span>
      </div>
      </a>
    </div>


  </div><!-- end row -->
   
  </div><!-- end container -->


</div>

<!-- search by category -->
<div class="section">
  <h1 class="center" style="margin-top: 25px;">Have a question?</h1> 
  <h2 class="center">Select a product to find a solution</h2>  
  

  <div class="carousel carousel-product">
    <a class="carousel-item carousel-product-item ui-gray hoverable" href="http://ee-support.evosus.com/support/home">
      <span class="carousel-item-title">Enterprise</span>
    </a>
    <a class="carousel-item carousel-product-item ui-teal hoverable" href="http://ep-support.evosus.com/support/home">
      <span class="carousel-item-title">Retail Pro</span>
    </a>
  
      <a class="carousel-item carousel-product-item ui-gray-lt hoverable" href="https://payroll.evosus.com/support/home">
       <span class="carousel-item-title">Payroll</span>
    </a>
    <a class="carousel-item carousel-product-item ui-primary hoverable" href="http://ems-support.evosus.com/support/home">
      <span class="carousel-item-title">Mobile</span>
    </a>
    <a class="carousel-item carousel-product-item ui-orange hoverable" href="http://ea-support.evosus.com/support/home">
       <span class="carousel-item-title">Analytics</span>
    </a>
    <a class="carousel-item carousel-product-item ui-gray-lt hoverable" href="http://ewa-support.evosus.com/support/home">
      <span class="carousel-item-title">Web Services</span>
    </a>
  </div>

</div>





<!-- min requirements -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
    
        <h1>New Minimum System Requirements</h1>
        <p class="white-text" style="margin: 25px 0;">We've updated our minimum system requriements.</p>
        <a class="btn waves-effect white grey-text darken-text-2" href="http://ee-support.evosus.com/support/solutions/articles/14000064887-evosus-business-management-software-minimum-software-requirements">Tell me more!</a>

      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/computer-bg.jpg" alt="Image of computer"></div>
</div>


<!--   Quickbooks Online   -->
<div class="container">
 
  <div class="row center">
      <div class="col s12 m6 offset-m6">
         <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket-primary-bg.svg">


            <h3 class="grey-text text-darken-2">QuickBooks Online Integration</h3>
    
           <div class="article-links-dk">
            {% for category in portal.solution_categories %}
              {% for folder in category.folders %}
                {% if folder.name == 'QuickBooks Online Integration' %}
                    {{ folder | article_list:20 }}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>

        </div>
      </div>
  </div>

</div>


<!--   Hardware   -->
<div class="container">
 
  <div class="row center">
      <div class="col s12 m6 offset-m6">
         <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket-primary-bg.svg">


            <h3 class="grey-text text-darken-2">Hardware</h3>
    
           <div class="article-links-dk">
            {% for category in portal.solution_categories %}
              {% for folder in category.folders %}
                {% if folder.name == 'Hardware' %}
                    {{ folder | article_list:20 }}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>

        </div>
      </div>
  </div>

</div>


 <!--   Training   -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/webinar-bg.svg" />
            <h3>Live Webinars</h3>

            <p class="light">For active, new, and experienced Evosus clients, learn how to optimize your Evosus setup. Register now for an interactive webinar!</p>
            <a class="waves-effect waves-light btn" href="https://www.evosus.com/webinars">Register Now!</a>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/howtovideos-bg.svg" />
            <h3>How To Videos</h3>

            <p class="light">Pre-recorded screen captures and detailed instructions to answer specific questions. Many of these videos are included in the topics on this site, but they are also packaged as self-paced online training courses.</p>
            <a class="waves-effect waves-light btn" href="https://shopevosus.com/pages/self-paced-video-training">Purchase</a>
            <a class="waves-effect waves-light btn" href="https://evosus.litmos.com/account/login/?">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Account Management parallax image -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="container-content">
          <div class="row center">
            <h1 class="white-text">Didn't find what you're looking for?</h1>
            <h3 class="grey-text text-lighten-2">Contact your Account Manager</h3>
          </div>
          <div class="row center">
            <a href="https://evosus.freshdesk.com/support/tickets/new" id="download-button" class="btn waves-effect waves-light">Create A Ticket</a>
            <a href="https://evosus.freshdesk.com/support/tickets" id="download-button" class="btn waves-effect waves-light">View All Tickets</a>
          </div>
          
        </div><!-- end container-content -->
      </div><!-- end container -->
    </div><!-- end section -->
    <div class="parallax"><img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/am-group.jpg" alt=""></div>
  </div>

<!--   tip of the day video   -->  
<div class="section">
  <div class="container">
      <div class="row">
      
          <div class="img-block center">
            <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/howtovideos-bg.svg" />
            <h1 style="margin-bottom: 15px; margin-top: 15px;">Tips/Tricks</h1>

            <div id="videoTip" class="video-container">
              <!-- spinner is replaced by video tip of day using inline .js -->
              <h3 class="center-align grey-text text-darken-2" style="padding-top: 50px;">Loading...</h3>
              <div class="center-align">
                 <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
               </div><!-- end center-align -->
            </div><!-- end video-container -->      

          </div><!-- end img-block -->

      </div>
    </div>
  </div>


<script type="text/javascript">
  var selection = Math.round(23 * (Math.random()));

  switch(selection) {
    case 1:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/bAh18X4qFx8?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 2:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/Kk6l-9m78HM?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 3:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/zXvVa7FtObU?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 4:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/8cByE7Vm8Gk?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 5:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/i1gdfCYFPxQ?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 6:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/wuwRocKJ82s?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 7:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/qqZln90k6kw?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 8:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/Iwxnyq1qVm4?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 9:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/GKiaZp-V5oo?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 10:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/beZGDJi_RuI?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 11:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/VsVXjG82m_0?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 12:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/tDdcs91EY-0?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 13:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/EMXN1g6G95s?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 14:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/0w3WBa3xgRw?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 15:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/O2om16x_Q3E?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 16:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/RGfmmbzjgkI?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 17:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/HauaYns3b7w?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 18:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/KDWsQ_nd-Xo?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 19:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/fE6aVN7hZ_g?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 20:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/Cnb-dZoEf-w?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 21:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/NCzK0EEnkTU?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    case 22:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/r_RBlqsA5hY?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
    default:
      document.getElementById("videoTip").innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/ogYFRkzMHHY?list=PLGNyxm4TBvf801-j-KzI_T_oDaj7TH8T8" frameborder="0" allowfullscreen></iframe>';
      break;
  }
</script>
