.shadow { box-shadow:0 5px 10px rgba(0,0,0,0.25); }

/* override background of nav */
nav.banner-nav {
	background-color: transparent;
	color: #333;
	box-shadow: none;
}

nav {
	background-color: #aaaaaa;
}

.hover-underline-menu .menu li .active{
  background-color: #999999;
}

.page-footer {
	background-color: #aaaaaa;
}

.card-content a {
	color: #fff;
}

/* fixes to dropdown menu on mobile */
@media (max-width: 45em) {
	li {
    	line-height: 55px;
	}
}

@media (max-width: 45em) {
	li {
    	line-height: inherit;
	}
}

.dropdown-button:hover {
	color: #ffffff;
	text-decoration: none;
}

.dropdown-content li>a, 
.dropdown-content li>span {
	color: #333333; 	
}