.shadow { box-shadow:0 5px 10px rgba(0,0,0,0.25); }

/* override background of nav */
nav.banner-nav {
	background-color: transparent;
	color: #333;
	box-shadow: none;
}

nav {
	background-color: #444444;
}

.hover-underline-menu .menu li .active{
  background-color: #999999;
}

.hover-underline-menu .menu a:hover, 
.hover-underline-menu .menu .active,
.page-footer .footer-copyright
{
    background-color: #333;
}

.page-footer {
	background-color: #444444;
}

.card-content a {
	color: #fff;
}

.breadcrumb-menu {
	color: #666666;
	margin-bottom: 20px;
}

/* SEARCH CONTAINER */
.search-container {
  	min-height: 300px;
	background: no-repeat center url("https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/search-enterprise.jpg");
}

/* Search box text */
input[type="text"] {
	color: #fff;
}
input[type=text]:not(.browser-default) {
	font-size: 2em;
}
input[type="text"]:focus {
	border-color: transparent;
}

/* button */
.btn, 
.btn:hover,
.btn:active {
	background-color: #02708C;
	background-image: none;
	text-shadow: none;
	color: #ffffff;
	border-radius: 2px;
	border: none;
	font-size: 1rem;
	display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.hc-search-button .btn {
	background-color: #02708C;

	color: #ffffff;
	border-radius: 2px;
	border: none;
	font-size: 1rem;
	display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    width: initial;
}
/* fixes to dropdown menu on mobile */
@media (max-width: 45em) {
	li {
    	line-height: 55px;
	}
}

@media (max-width: 45em) {
	li {
    	line-height: inherit;
	}
}

.dropdown-button:hover {
	color: #ffffff;
	text-decoration: none;
}

.dropdown-content li>a, 
.dropdown-content li>span {
	color: #333333; 	
}

/* CARD ACTION COLOR FIX */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: #fff;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
	color: #fff;
}