{% if portal.has_solutions %}
<section class="main content min-height-on-desktop" id="solutions-index-home">



	<div class="section">
			<div class="row">
				<div class="col s12">
					<div class="card horizontal ui-secondary">
						<div class="card-image"> 	
				    	     <div id="rocketship-stars">
				              <img id="star1" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
				              <img id="star2" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
				              <img id="star3" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
				              <img id="star4" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
				              <img id="star5" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
				              <img id="star6" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
				              <img id="star7" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
				              <img id="star8" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
				              <img id="star9" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
				              <img id="star0" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
				              <img id="rocket" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket.svg">
				            </div><!-- end card-image -->
						</div><!-- end card-image -->
						<div class="card-content white-text">
							<span class="card-title">Getting Started</span>
								{% for category in portal.solution_categories %}
									{% for folder in category.folders %}
										{% if folder.name == 'Getting Started' %}
												{{ folder | article_list:10 }}
										{% endif %}
									{% endfor %}
								{% endfor %}
						</div><!-- end card-content -->
					</div><!-- end card -->
				</div><!-- end col -->
			</div><!-- end row -->
			<div class="row">
				<div class="col s12">
					<div class="card horizontal ui-secondary">
						<div class="card-image"> 	
			    	      <div id="life-preserver">
				              <img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/download.svg">
				           </div><!-- end life-preserver -->
						</div><!-- end card-image -->
						<div class="card-content white-text">
							<span class="card-title">Get the latest release!</span>
							<p>Version 6.6.128 is available now. Go here for information about downloading and installing it.</p>
								
						</div><!-- end card-content -->
					</div><!-- end card -->
				</div><!-- end col -->
			</div><!-- end row -->
	</div><!-- end section -->
	





	{% for category in portal.solution_categories %}
		{% if category.folders_count > 0 %}
		<div class="cs-s">
			<h3 class="heading">{{ category.name | link_to: category.url }}</h3>
			<div class="cs-g-c">
				{% for folder in category.folders %}
					<section class="cs-g article-list">
						<div class="list-lead">
							{{ folder | link_to_folder_with_count }}
						</div>
						{{ folder | article_list:5 }}
					</section>
				{% else %}
					{{ portal | filler_for_solutions }}
				{% endfor %}
			</div>
		</div>	
		{% endif %}
	{% endfor %}
</section>
{% endif %}