<div class="page-content">

	<div class="container" id="solutions-home">
		<h2 class="heading">All Enterprise Solutions</h2>
		{% for category in portal.solution_categories %}
			{% if category.folders_count > 0 %}
			<div class="cs-s">
				<div class="cs-g-c">
					{% for folder in category.folders %}
						<section class="cs-g article-list">
							<div class="list-lead">
								{{ folder | link_to_folder_with_count }}
							</div>
							{{ folder | article_list:5 }}
						</section>
					{% else %}
						{{ portal | filler_for_solutions }}
					{% endfor %}
				</div>
			</div>	
			{% endif %}
		{% endfor %}
	</div>

</div>