.article-body h2 {
 font-size: 1.5em; 
}
.article-body h3 {
 font-size: 1.17em; 
  font-weight: bold;
}
.article-body h4 {
 font-size: 1.12em;
  font-weight: bold;
}

.shadow { box-shadow:0 5px 10px rgba(0,0,0,0.25); }

/* override background of nav */
nav.banner-nav {
	background-color: transparent;
	color: #333;
	box-shadow: none;
}

nav,
.page-footer {
	background-color: #02708C;
}

/* Search box text */
input[type="text"] {
	color: #fff;
}
input[type=text]:not(.browser-default) {
	font-size: 2em;
}
input[type="text"]:focus {
	border-color: transparent;
}

.ticket-form input[type="text"] {
	color: #333;
}

/* button */
.btn, 
.btn:hover,
.btn:active {
	background-color: #02708C;
	background-image: none;
	text-shadow: none;
	color: #ffffff;
	border-radius: 2px;
	border: none;
	font-size: 1rem;
	display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.hc-search-button .btn {
	background-color: #02708C;

	color: #ffffff;
	border-radius: 2px;
	border: none;
	font-size: 1rem;
	display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    width: initial;
}

/* Forms card */
.forms-image {
 	width:250px; 
 	height:250px; 
 	background: radial-gradient(ellipse at bottom, #007F9C 0%, #02708C 100%);
}

.timecards-image {
	width:250px; 
 	height:450px; 
 	padding: 90px 0;
 	background: radial-gradient(ellipse at bottom, #007F9C 0%, #02708C 100%);
}

.white-text a{
	color: #fff;
}