<section class="main content min-height-on-desktop" id="solutions-index-home">
	<div class="row">
		<div class="col s12">
			<div class="card horizontal ui-secondary">
				<div class="card-image"> 	
		    	     <div id="rocketship-stars">
		              <img id="star1" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
		              <img id="star2" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
		              <img id="star3" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
		              <img id="star4" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
		              <img id="star5" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
		              <img id="star6" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
		              <img id="star7" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
		              <img id="star8" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
		              <img id="star9" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
		              <img id="star0" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/star.svg" />
		              <img id="rocket" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/rocket.svg">
		            </div><!-- end card-image -->
				</div><!-- end card-image -->
				<div class="card-content white-text">
					<span class="card-title">Getting Started</span>
						<div class="white-text">
						{% for category in portal.solution_categories %}
							{% for folder in category.folders %}
								{% if folder.name == 'Getting Started' %}
										{{ folder | article_list:10 }}
								{% endif %}
							{% endfor %}
						{% endfor %}
						</div>
				</div><!-- end card-content -->
			</div><!-- end card -->
		</div><!-- end col -->
	</div><!-- end row -->
	<div class="row">
		<div class="col s12">
		    <div class="card horizontal ui-secondary">
		      <div class="card-image">
		        	<div class="forms-image">
		        		<img src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/forms.svg">
		      		</div>
		      </div> 
		        <div class="card-content white-text">
		          <span class="card-title">Forms</span>
		     		<ul>
				      <li><a class="white-text" href="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/forms/Direct Deposit Authorization.pdf" target="_blank">Direct Deposit Authorization</a></li>
				      <li><a class="white-text" href="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/forms/4th Qtr_Evosus.pdf" target="_blank">Pay-As-You-Go! Workers Compensation</a></li>
				      <li><a class="white-text" href="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/forms/Evosus Payroll Implementation Guide- 2016.pdf" target="_blank">Evosus Payroll Implementation Guide</a></li>
				      <li><a class="white-text" href="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/forms/EPS Payroll Card Enrollment Form.doc" target="_blank">EPS Payroll Card Enrollment Form</a></li>
				      <li><a class="white-text" href="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/forms/Ordering Guide for W2s and 1099 Forms.pdf" target="_blank">Illustrated Ordering Guide for W2s and 1099 Forms</a></li>
				  </ul>
		        </div><!-- end card-content -->
		    </div><!-- end card -->
		</div><!-- end col -->
	</div><!-- end row -->
	<div class="row">
		<div class="col s12">
			<div class="card horizontal ui-secondary">
				<div class="card-image"> 
					<div class="timecards-image">	
		              <img src="https://rawgit.com/evosus/freshdesk/Phase-1/img/timecards.svg">
					</div>
				</div><!-- end card-image -->
				<div class="card-content white-text">
					<span class="card-title">Timecards</span>
						<div class="white-text">
						{% for category in portal.solution_categories %}
							{% for folder in category.folders %}
								{% if folder.name == 'Timecards' %}
										{{ folder | article_list:20 }}
								{% endif %}
							{% endfor %}
						{% endfor %}
						</div>
				</div><!-- end card-content -->
			</div><!-- end card -->
		</div><!-- end col -->
	</div><!-- end row -->
	<div class="row">
		<div class="col s12">
			<div class="card horizontal ui-secondary">
				<div class="card-image"> 	
					<div id="life-preserver">
				    	<img id="life" src="https://cdn.rawgit.com/evosus/freshdesk/Phase-1/img/life.svg">
				    </div><!-- end life-preserver -->
				</div><!-- end card-image -->
				<div class="card-content white-text">
					<span class="card-title">Problems?</span>
						<div class="white-text">
						{% for category in portal.solution_categories %}
							{% for folder in category.folders %}
								{% if folder.name == 'Problems?' %}
										{{ folder | article_list:10 }}
								{% endif %}
							{% endfor %}
						{% endfor %}
						</div>
				</div><!-- end card-content -->
			</div><!-- end card -->
		</div><!-- end col -->
	</div><!-- end row -->

</section>
